







body { background-color: #FCEBB6;
    color: #221811;
    font-family: Tahoma, Arial, sans-serif;
    background-image: url(fadedroad50.jpg);
    background-attachment: fixed;
    background-size: cover;
}


    main { padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: inline-block;
    }
    .details { padding-left: 20%;
        padding-right: 20%;
     
    
    }
    #wrapper {background-color: #FEFAEB;
    align-content: center;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
    width: 80% auto;
    max-width: 1280px;
    box-shadow: 3px 3px 3px;
    }


    .homehero { height: 300px;
    width:75;
    background-image: url(hero.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    
    }
    img { padding-left: 10px;
    padding-right: 10px;
    
    
    }
    header {background-color: #D2B48C;
    color: #8C3826;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    }
    h1 {
    font-size: 3em;
    }
    
    h2 { color: #8C3826;}
    
    h3{color: #8c3826;}

    dt {color: #8C3826;}



    h4 { background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 2px;
    padding-bottom: 5px;
    
    
    }
    nav { font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
    }
    nav a { text-decoration: none;
    }
    footer { border-top: 2px solid ;
    border-color: #8C3826;
    background-color: #D2B48C;
    font-size: .60cm;
    font-style: italic;
    text-align: center;
    padding: 1em;
    
    }