

#heromugs {height: 300px;
background-image: url(heromugs.jpg);
background-size: 100% 100%;
}

#heroguitar {height: 300px;
    background-image: url(heroguitar.jpg);
    background-size: 100% 100%;
}
    
    



.floatleft{float: left;
    padding-right: 2em;
    padding-bottom: 2em;}

.onethird{float: left;
width: 33%;}

* {box-sizing: border-box;}


body {
    background-color: #fcebb6;
    color: #221811;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(fadedroad50.jpg);
    background-attachment: fixed;
    background-size: cover;
    border-radius: 100%;
}

header 
{
    color: #231814;
    background-color: #d2b48c;
    background-image: url(coffeelogo.jpg);
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 240px;

}

header a:link{color: #231814;
text-decoration: none;}

header a:visited{color: #231814;
text-decoration: none;}

header a:hover{color: #fef6c2;}

h1 {
    font-size: 3em;
}
h2 {
    color: #8c3826;

}

nav {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 200px;
    

}

nav ul{
    padding-left: 0%;
    list-style-type: none
    
}




nav a{text-decoration: none;}
nav a:link{color: #fef6c2}
nav a:visited{color: #d2b48c;}
nav a:hover{color: #cc9933;}



footer{
    background-color: #d2b48c;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    border-top: 2px solid #8c3826;
}

h4{
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0.25em;
    text-transform: uppercase;
    border-bottom: #221811 solid 1.5px;
    padding-bottom: 0%;
    float: left;
    clear: left;
}

h3{color: #8c3826;}
dt{color: #8c3826;}

main{padding-left: 0em; 
    padding-right: 0em;
    padding-bottom: 2em;
    display: block;
    padding-top: 0em;
    background-color: #fef6c2;
    margin-left: 200px;
    overflow: auto;
    
}

main h2{
    padding-left: 3em;
    padding-right: 2em;
}


main h3{
    padding-left: 3em;
    padding-right: 2em;
}



main h4{
    padding-left: 3em;
    padding-right: 2em;
}

main p{
    padding-left: 3em;
    padding-right: 2em;
}


main div{
    padding-left: 3em;
    padding-right: 2em;
}


main ul{
    padding-left: 3em;
    padding-right: 2em;
}

main dl{
    padding-left: 3em;
    padding-right: 2em;
}



.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
    width: 100%;
    
 
}



img{
    padding-left: 10px;
    padding-right: 10px;
    
    overflow: auto;
}

#homehero {
    height: 300px;
    background-image: url(hero.jpg);
    background-size: 100% 100%;
    
   


}

#wrapper {
    width: 80%;
    background-color: #231814;
    padding: 0em;
    margin-right: auto;
    margin-left: auto;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px;
}